<div class="usp-wrap">
    <div class="usp-container container">

        <div class="usp-block">
            <div class="usp-content">
                <i class="icon fas {{lang 'header.usp_blocks.item_1.icon'}}"></i>
                <p>{{lang 'header.usp_blocks.item_1.text'}}</p>
            </div>
        </div>

        <div class="usp-block">
            <div class="usp-content">
                <i class="icon fas {{lang 'header.usp_blocks.item_2.icon'}}"></i>
                <p>{{lang 'header.usp_blocks.item_2.text'}}</p>            
            </div>
        </div>

        <div class="usp-block">
            <div class="usp-content">
                <i class="icon fas {{lang 'header.usp_blocks.item_3.icon'}}"></i>
                <p>{{lang 'header.usp_blocks.item_3.text'}}</p>            
            </div>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/d191174e52.js" crossorigin="anonymous"></script>
