// =============================================================================
// SIDEBAR BLOCKS (CSS)
// =============================================================================


// Block
// -----------------------------------------------------------------------------

.sidebarBlock {

    + .sidebarBlock {
        border-top: container("border");
        margin-top: spacing("single") + spacing("third");
        padding-top: spacing("single") + spacing("third");
    }
}

.sidebarBlock-heading {
    margin-top: 0;
    color: $radical-red;
    text-transform: uppercase;
    font-size: 1.118rem;
    font-weight: bold;
}
