<table style="border: 1px solid #c7d7db; width: 100%;" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="font-family: Arial; padding: 5px; font-size: 12px; border-bottom: solid 1px #CACACA; color: #ffffff;"><strong>%%GLOBAL_ProductName%%</strong> %%GLOBAL_ProductOptions%% %%GLOBAL_ProductAttributes%% <br /> %%GLOBAL_ExpectedReleaseDate%%%%GLOBAL_CartProductFields%%%%GLOBAL_EventDate%%</td>
            <td style="font-family: Arial; padding: 5px; font-size: 12px; border-bottom: solid 1px #CACACA; color: #ffffff;" width="100">%%GLOBAL_ProductQuantity%%</td>
            <td style="font-family: Arial; padding: 5px; font-size: 12px; border-bottom: solid 1px #CACACA; color: #ffffff;" width="150">%%GLOBAL_ProductPrice%%</td>
            <td style="font-family: Arial; padding: 5px; font-size: 12px; border-bottom: solid 1px #CACACA; color: #ffffff;" align="right" width="200"><strong>%%GLOBAL_ProductTotal%%</strong></td>
        </tr>
    </tbody>
</table>
