<!--
    This is a backup HTML file for the two txt/img blocks used on the homepage
    This code is maintained using Layout Builder but is here if that code gets broken
-->

<div class="block block-grey-lt txt-img">
    <div class="container">
        <div class="txt-img-img">
            <img src="https://gb.boostgaming.com/product_images/uploaded_images/boost-cards.jpg" alt="e-gift cards">
        </div>
        <div class="txt-img-content">
            <div class="txt-img-content--content">
                <h3 class="txt-img-title">So many ways to Boost</h3>
                <p>A whole world of gaming, instantly Boosted. Take your pick of digital currency, subscriptions, full games, DLC & add ons.</p>
                <a href="/shop-by-products/" class="button button--large">Shop Now <i class="icon-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="block block-grey-dk txt-img txt-img-reverse">
    <div class="container">
        <div class="txt-img-img">
            <img src="https://gb.boostgaming.com/product_images/uploaded_images/gaming-hands.jpg" alt="Example graphic">
        </div>
        <div class="txt-img-content">
            <div class="txt-img-content--content">
                <h3 class="txt-img-title">A Boost for everyone</h3>
                <p>Dig deeper. Perform better. Explore further. Add new skills. Make the game yours. Download your code, upgrade your experience. Done.</p>
                <a href="/about-us/" class="button button--large">About Us <i class="icon-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>
