<!--
    This is a backup HTML file for the H1 banner used on the homepage
    This code is maintained using Layout Builder but is here if that code gets broken
-->

<style>
    .partner-banner {
        background-color: #141414;
        background-image: url('https://gb.boostgaming.com/product_images/uploaded_images/boost-hp-banner.jpg');
        background-repeat: no-repeat;
        background-position: right 19% top;
        background-size: cover;
    }

    @media (min-width: 801px) {
        .partner-banner {
            background-position: center top;
        }
    }
</style>
<div class="block partner-banner">
    <div class="container">
        <div class="pb-cont">
            <h1>The place to get digital power-ups...
              <p>
                In seconds
              </p>
              </h1>
          	<a href="/about-us" class="button button--primary">About us <i class="icon-chevron-right"></i></a>
        </div>
    </div>
</div>
