


<footer class="footer" role="contentinfo">
    <div class="container">
        <section class="footer-info">
            <article class="footer-info-col footer-info-col--boost">
                <img src="{{getImage settings.store_logo.image}}" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}" width="166" class="lazyloaded" loading="lazy">
                <p class="footer-boost">&copy; {{lang 'footer.copyright'}}</p>
            </article>

            <div class="footer-info-col checkout-contact">
                {{{lang 'checkout.footer_contact'}}}
            </div>
        </section>
    </div>
</footer>
