// =============================================================================
// This is used to create simple classes that can be used with the HTML block in the Page Builder
// =============================================================================

.anchor-link {
    color: $radical-red;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}
