// =============================================================================
// VARIABLES (CSS)
// This file is used for custom variables needed for Boost that can't be easily integrated into the config.json
// file in any non-disruptive way.
// =============================================================================

$white:             #FFFFFF;
$cod-grey-dark:     #161616;
$cod-grey-light:    #1D1D1D;
$radical-red:       #FE466C;
