<ul class="productGrid">
    {{#each products}}
    {{#filter custom_fields 'Product Type' property='name'}}
        {{ assignVar "currentValue" value}}
    {{/filter}}

        {{#if (first (split (getVar "currentProductType" ) "&")) '===' (first (split (getVar "currentValue" ) "&"))}}
            <li class="product">
                {{>components/products/card settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
            </li>
        {{/if}}
    {{/each}}
</ul>
